@use "../abstracts" as *;

h1 {
  font-family: $display-serif-l;
  text-transform: uppercase;
  color: $primary-blue;
}

h2 {
  font-family: $display-serif-l;
  text-transform: uppercase;
  font-size: clamp(3rem, 9.5vw, 8.5rem);
  line-height: 1;
}

h3 {
  font-family: $body-font;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

h4 {
  font-family: $display-comment;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

p {
  font-family: $body-font;
}
