@use "../abstracts" as *;

.btn {
  padding: px-to-rem(8px) px-to-rem(16px);
  border: 1px solid $dark-gray;
  border-radius: px-to-rem(8px);
  cursor: pointer;
  font-family: $body-font;
  font-size: 0.875rem;
  transition: all 0.2s ease;
}

.btn--info {
  text-transform: uppercase;
}
