@use "../abstracts" as *;

.main-card {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__inner {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20vh 6.5rem;
  }
  h2,
  p {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

.info-card {
  margin: 4rem;
  padding: 2rem;
  border-radius: 50px;
  align-self: flex-end;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

// Responsive adjustments for mobile
@media (max-width: 768px) {
  .main-card {
    flex: 0 0 100vw;
    width: 100vw;

    &__inner {
      padding: 10vh 2rem;
    }
  }
}
