@use "../abstracts" as *;

.info-card-container {
  width: 50vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.places {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  will-change: transform;
}

/* Contenedor para el scroll horizontal */
#sol .section-container {
  overflow: hidden;
}

/* Estilos para las tarjetas de información */
.info-card {
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1;

  h4 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}
