@use "../abstracts" as *;

// Main landing ID INTRO
.main-landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & h2 {
    font-family: $display-serif-m;
    font-size: clamp(3rem, 12vw, 8.5rem);
    text-align: center;
  }
}

.changing-txt {
  font-size: clamp(2rem, 5vw, 3rem);
  display: block;
}

// Section intro caption text animation
.intro-animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;

  & h4 {
    position: absolute;
    bottom: 8rem;
    right: 8rem;
    transform-origin: bottom right;
    transform: translateX(0%) rotate(-45deg) scale(1);
    animation: bouncy 0.5s ease-in-out;
  }

  & h4::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-bottom: 3px solid currentColor;
    border-right: 3px solid currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(90deg);
  }
}

.sun {
  position: absolute;
  top: 10%;
  right: 10%;
  width: clamp(80px, 10vw, 200px);
  height: auto;
}

.cloud {
  position: absolute;
  left: -600px;
  animation: moveCloud linear infinite;

  &--1 {
    top: 15%;
    width: clamp(40vw, 50vw, 800px);
    animation-duration: 20s;
    animation-delay: 0s;
  }

  &--2 {
    top: 60%;
    width: clamp(30vw, 40vw, 600px);
    animation-duration: 30s;
    animation-delay: 4s;
  }

  &--3 {
    top: 55%;
    width: clamp(15vw, 20vw, 400px);
    animation-duration: 35s;
    animation-delay: 6s;
  }
}

.wind {
  position: absolute;
  right: -50%;
  animation:
    scrollLeft ease-in infinite,
    opacityFade ease-in infinite;

  &--1 {
    top: 25%;
    width: 60vw;
    animation-duration: 2s;
    animation-delay: 0s;
  }

  &--2 {
    top: 10%;
    width: 90vw;
    animation-duration: 4s;
    animation-delay: 2s;
  }

  &--3 {
    top: 50%;
    width: 70vw;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  &--4 {
    top: 54%;
    right: -30%;
    width: 40vw;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
  }
}
