@use "../abstracts" as *;
@use "./intro-animations" as *;

.marquee {
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: spacing(2);
  user-select: none;
  position: relative;
  margin: spacing(2) 0;
}

.marquee__track {
  text-transform: uppercase;
  font-size: 2rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: spacing(2);
  min-width: 100%;
  animation: scroll 10s linear infinite;
}
