@use "../abstracts" as *;

nav {
  height: 50vh;
  position: fixed;
  top: calc(50vh - 50vh / 2);
  left: px-to-rem(24px);
  padding: px-to-rem(16px);
  border-radius: px-to-rem(50px);
  background-color: rgba($light-gray, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 9999;

  @media screen and (max-width: 768px) {
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: px-to-rem(0px);
    background-color: rgba($light-gray, 1);
    flex-direction: row;
  }
}

.navigation {
  height: 100%;
  margin-top: px-to-rem(32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

    & .icon {
      padding: 0 px-to-rem(32px);
    }
  }
}
