<nav aria-label="Navegación por clima">
  <!-- TODO: Añadir interacción para subir arriba de la página al pulsar en el logo -->
  <span class="logo">D/SS</span>
  <ul class="navigation">
    <li>
      <a href="#sol" class="icon" aria-label="Ir a sección sol">
        <img src="../node_modules/iconoir/icons/regular/sun-light.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#viento" class="icon" aria-label="Ir a sección viento">
        <img src="../node_modules/iconoir/icons/regular/wind.svg" alt="" />
      </a>
    </li>

    <li>
      <a href="#lluvia" class="icon" aria-label="Ir a sección lluvia">
        <img
          src="../node_modules/iconoir/icons/regular/heavy-rain.svg"
          alt=""
        />
      </a>
    </li>

    <li>
      <a href="#nieve" class="icon" aria-label="Ir a sección nieve">
        <img
          src="../node_modules/iconoir/icons/regular/snow-flake.svg"
          alt=""
        />
      </a>
    </li>
  </ul>
</nav>
