@use "../abstracts" as *;

// Background colors
.bg-primary-blue {
  background-color: $primary-blue;
}

.bg-primary-yellow {
  background-color: $primary-yellow;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

// Colors

.primary-blue {
  color: $primary-blue;
}

.light-gray {
  color: $light-gray;
}

.dark-gray {
  color: $dark-gray;
}
